body{
    background-color: #ce71b6;
}

.wrapper{
    padding-left: 10px;
    padding-right: 10px;
}

.header{

}

.header-heading{
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
}

    .wishes{
        text-align: center;
        font-size: 36px;
        color: #FFFFFF;
    }

    /* === slider === */

    .slider{
        padding: 20px 70px 0 ;
        position: relative;
    }

    .slider-item img{
        max-width: 100%;
        object-fit: cover;
    }

    .slick-slider{

    }

    .slick-list{
        overflow: hidden;
    }

    .slick-track{
        display: flex;
    }

    .slider .slick-arrow{
        position: absolute;
        top: 50%;
        z-index: 10;
        width: 50px;
        height: 50px;
        font-size: 0;
        margin-top: -50px;
    }

    .slider .slick-prev{
        border: none;
        outline: none;
        left: 0;
        background: url("./img/svg/heart-direction-to-left.svg") 0 0 / 100%;
    }
    .slider .slick-next{
        border: none;
        outline: none;
        right: 0;
        background: url("./img/svg/heart-direction-to-right.svg") 0 0 / 100%;
    }

    /* === / slider === */

    .hearts__item{
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
    }

    .hearts__item:hover{
        animation: spin 3s ease;
    }

    @keyframes spin {
        0%{
            transform: rotate(0deg);
        }

        60%{
            transform: rotate(360deg);
        }

        90%{
            transform: translateZ(200px) scale(1.6);
        }

        100%{
            transform: translateZ(50px) scale(1.1);
        }
    }


/*** === MOBILE === ***/

@media (max-width: 767px) {

    .hearts__item:hover{
        animation: spin 1s ease;
    }

    .slider .slick-arrow {
        top: 105%;
    }

    .slider{
        padding: 20px 0 0 ;
        margin-bottom: 50px;
    }

    .slider .slick-prev{
        left: 25%;
    }

    .slider .slick-next{
        right: 25%;
    }

    .hearts{
        margin-top: 20px;
    }
}

/*** === / MOBILE === ***/
